---
layout: default
---

<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon fa-gem"> </span>
			</div>
			<div class="content">
				<div class="inner">
				  <h1>{{site.title}}</h1>
				  <p>{{site.description}}</p>
				</div>
			</div>
			<nav>
				<ul>
					{% for page in site.pages  %}
						{% if page.title %}
						     
							<li>
								{% unless page.static_only %}
								  <a href="#{{ page.title }}" >
								{% else %}
								  <a href="{{ page.url }}" >
								{% endunless %}	
								{{ page.title }}
							   </a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</header>
		<div id="main">
			{% for page in site.pages  %}
			   {% include page.html content=page.content %}
			{% endfor%}
		</div>


	<!-- Main -->
	{% include footer.html %}

</div>


